@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  h1, h2, h3, h4, h5, h6, p, i, b, strong, a, li, div {
    color: #222;
  }
  .ant-btn-primary {
    background-color: #27688a !important;
  }
  .ant-btn-primary:hover {
    background-color: #609dbd !important;
  }
