* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, i, b, strong, a, li, div {
  color: #222;
}

.ant-spin-lg {
  z-index: 999999 !important;
}
.ant-table-row {
  cursor: pointer;
}
.ant-upload-list::before {
  content: normal !important;
}
.ant-upload-list-picture {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}
.ant-upload-list-item-actions {
  display: none;
}
.ant-upload-list-item-thumbnail {
  width: 100% !important;
  height: 100% !important;
}
.ant-table-thead th, .ant-table-thead td {
  background: #39b9f5cc !important;
  color: #fff !important;
}
.deleteBasket {
  color: #dd9090;
}
.deleteBasket:hover {
  color: #e41919;
}
.customList li:hover {
  background-color: #f3faff;
  border-radius: 4px;
}
.customList li {
  border-bottom: 1px solid #eee;
}
.hideFileInput {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.fileInputButton {
  padding: 40px;
  border: 1px dashed #eee;
}
